.wrapper {
    display: grid;
    background: rgb(246, 246, 246);
    grid-template-columns: 1fr;
}

@media (min-width: 481px) {
    .wrapper {
        padding: 0 4rem;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 16px 32px;
        font-size: 1.2rem;
    }
}

a:hover, a:focus {
    color: red;
}

a:active {
    color: black;
}

button {
    cursor: url('./cursor-64.ico'), auto;
}

button:hover {
    background: red;
}

button[disabled] {
    cursor: not-allowed;
}