body * {
    outline: 1px dotted red;
}

.top-header {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template: 250px 400px / repeat(12, 1fr);
    gap: 24px;
}

.main-img {
    grid-column: 1 / 7;
    overflow: hidden;
}

.main-img img {
    width: 100%;
}

.about {
    grid-column: 7 / 13;
}

.sm1 {
    grid-column: 1 / 5;
}

.sm2 {
    grid-column: 5 / 9;
}

.sm3 {
    grid-column: 9 / 13;
}

.small-sec {
    display: grid;
    grid-auto-rows: auto;
}

.small-sec button {
   justify-self: center;
   align-self: center;
}

.tech-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
}

.tech-images img {
    max-width: 100%;
}
