/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* termino de CSS Reset */

* {
  font-family: sans-serif;
  outline: 1px solid red;
}

body {
  margin: 0;
}

.main {
  padding: 1.5rem;
  width: 960px;
  margin: auto;
  background-color: #6f5964;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 216, 216);
  padding: 1rem 1rem 2rem 1rem;
}

h1 {
  font-size: 2rem;
  font-size: bold;
}

.gradient-section .contenido {
  background-color: #efe8ee;
  padding: 1rem;
}

.gradient-section h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  background: rgb(142, 142, 142);
  background: linear-gradient(
    to bottom,
    rgba(142, 142, 142, 1) 0%,
    rgba(154, 121, 172, 1) 51%,
    rgba(168, 168, 168, 1) 100%
  );
  padding: 0.5rem 0.7rem;
}

.gradient-section p {
  margin-bottom: 1rem;
}

.main-section {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.main-img {
  width: 450px;
  border: 5px solid grey;
}

/* .portfolio .gradient-section {
    width: 290px;
    display: inline-block;
    margin-left: 1.5rem;
}

.portfolio .gradient-section:first-of-type {
    margin-left: 0;
} */

.portfolio {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.correo {
  text-align: center;
}

footer ul {
  margin: auto;
  text-align: center;
}

footer ul li {
  display: inline;
}

button {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 173, 0, 1) 25%
  );
  color: white;
  padding: 1rem 2rem;
  border-radius: 16px;
}

.portfolio:last-of-type {
    border: none;
}
